<aside class="menu">
  <p class="menu-label">
    <a href="/important-dates"> Important Dates </a>
  </p>
  <p class="menu-label">
    <a href="/call-for-papers"> Call for Papers </a>
  </p>
  <p class="menu-label">
    <a href="/committees"> Committees </a>
  </p>
  <ul class="menu-list">
    <li> <a href="/committees#program"> Program Committee </a> </li>
    <li> <a href="/committees#steering"> Steering Committee </a> </li>
    <li> <a href="/committees#organizing"> Organizing Committee </a> </li>
  </ul>
  <p class="menu-label">
    <a href="/venue"> Venue </a>
  </p>
</aside>
