<aside class="menu">
  <p class="menu-label">
    <a href="/important-dates"> Important Dates </a>
  </p>
  <p class="menu-label">
    <a href="/call-for-papers"> Call for Papers </a>
  </p>
  <p class="menu-label">
    <a href="/workshops"> Workshops </a>
    <ul class="menu-list">
      <li> <a href="/ACA"> Asynchronous Cellular Automata </a> </li>
      <li> <a href="/CCA"> Crowds and Cellular Automata </a> </li>
      <li> <a href="/TCA"> Traffic and Cellular Automata </a> </li>
    </ul>
  </p>
  <p class="menu-label">
    <a href="/school"> School </a>
  </p>
  <p class="menu-label">
    <a href="/committees"> Committees </a>
  </p>
  <ul class="menu-list">
    <li> <a href="/committees#program"> Program Committee </a> </li>
    <li> <a href="/committees#steering"> Steering Committee </a> </li>
    <li> <a href="/committees#organizing"> Organizing Committee </a> </li>
  </ul>
  <p class="menu-label">
    <a href="/registration"> Registration </a>
  </p>
  <p class="menu-label">
    <a href="/submission"> Submission </a>
  </p>
  <p class="menu-label">
    <a href="/venue"> Venue </a>
  </p>
</aside>

<div class="padding-elem"></div>

<article class="message is-info is-bold">
  <div class="message-body is-size-7">
    <p class="is-size-6 has-text-weight-semibold">
      Latest News
    </p>
    {%capture news %}
    {%include news.md %}
    {%endcapture %}
    {{ news | markdownify }}
  </div>
</article>

<div class="tile is-parent is-vertical">
  <div class="tile">
    <div class="centered">
      <a href="http://www.unimib.it/">
	<img class="bounded-size-square" src="/assets/images/unimib.png">
      </a>
      <a href="http://www.disco.unimib.it/">
	<img class="bounded-size-square" src="/assets/images/disco.png">
      </a>
    </div>
  </div>
  <div class="small-padding-elem"></div>
  <div class="tile">
    <a href="http://lakecomoschool.org/">
      <img class="bounded-size-rect" src="/assets/images/lake_como_school.png">
    </a>
  </div>
</div>
