<div class="navbar-tabs fixed-elem">
  {%if page.path == "index.md" %}
  <a class="navbar-item is-tab is-active" href="/">ACRI 2018</a>
  {%else %}
  <a class="navbar-item is-tab" href="/">ACRI 2018</a>
  {%endif %}
  {%if page.path == "important-dates.md" %}
  <a class="navbar-item is-tab is-active" href="/important-dates">Important Dates</a>
  {%else %}
  <a class="navbar-item is-tab" href="/important-dates">Important Dates</a>
  {%endif %}
  {%if page.path == "conference.md" %}
  <a class="navbar-item is-tab is-active" href="/conference">Conference</a>
  {%else %}
  <a class="navbar-item is-tab" href="/conference">Conference</a>
  {%endif %}
  {%if page.path == "workshops.md" %}
  <a class="navbar-item is-tab is-active" href="/workshops">Workshops</a>
  {%else %}
  <a class="navbar-item is-tab" href="/workshops">Workshops</a>
  {%endif %}
  {%if page.path == "school.md" %}
  <a class="navbar-item is-tab is-active" href="/school">School</a>
  {%else %}
  <a class="navbar-item is-tab" href="/school">School</a>
  {%endif %}
  {%if page.path == "committees.md" %}
  <a class="navbar-item is-tab is-active" href="/committees">Committees</a>
  {%else %}
  <a class="navbar-item is-tab" href="/committees">Committees</a>
  {%endif %}
  {%if page.path == "registration.md" %}
  <a class="navbar-item is-tab is-active" href="/registration">Registration</a>
  {%else %}
  <a class="navbar-item is-tab" href="/registration">Registration</a>
  {%endif %}
  {%if page.path == "venue.md" %}
  <a class="navbar-item is-tab is-active" href="/venue">Venue</a>
  {%else %}
  <a class="navbar-item is-tab" href="/venue">Venue</a>
  {%endif %}
</div>
<div class="padding-elem">
</div>
