<meta charset="utf-8">
<title>{{site.title}}
  {%if page.title %}
  - {{page.title}}
  {%endif %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
{%if page.path == "conference.md" %}
<script type="text/javascript" src="/assets/scripts/show_abstract.js"></script>
{%endif %}
