@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body, button, input, select, textarea {
    font-family: 'Lato', sans-serif
}

.fixed-elem {
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    opacity: 0.975;
}

.padding-elem {
    min-height: 3.25rem;
}
