@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$family-sans-serif: 'Lato', sans-serif;

.fixed-elem {
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    opacity: 0.975;
}

.padding-elem {
    min-height: 3.25rem;
}

@import "bulma/bulma.sass";
@import "bulma-timeline/timeline.sass";
