---
layout: default
---
<div class="columns is-centered">
  <div class="column is-half">
    <div class="hero is-bold has-background-white">
      <img src="/assets/images/banner-small.jpg">
      {%if page.title %}
      <Div class="hero-body has-text-black-ter">
	<h1 class="title centered"> {{page.title}} </h1>
	{%if page.subtitle %}
	<h4 class="subtitle centered"> {{page.subtitle}} </h4>
	{%endif %}
      </div>
      {%endif %}
    </div>
  </div>
  <div class="column is-one-quarter">
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-half">
    <div class="content has-text-justified">
      {{ content }}
    </div>
  </div>
  <div class="column is-one-quarter">
    {%include bar.html %}
  </div>
</div>
