---
layout: default
---
<div class="columns is-centered">
  <div class="column is-half">
    <div class="hero is-info is-bold">
      <div class="hero-body">
	{%if page.title %}
	<h1 class="title"> {{page.title}} </h1>
	{%endif %}
	{%if page.subtitle %}
	<h4 class="subtitle"> {{page.subtitle}} </h4>
	{%endif %}
      </div>
    </div>
  </div>
  <div class="column is-one-quarter">
  </div>
</div>
<div class="columns is-centered">
  <div class="column is-half">
    <div class="content has-text-justified">
      {{ content }}
    </div>
  </div>
  <div class="column is-one-quarter">
    {%include bar.html %}
  </div>
</div>
